{% extends 'base.html' %}
{% block title %}Change Email{% endblock title %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">Change Email</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <p>Enter new email address below:</p>
                        <div class="mb-3">
                            <input type="email" name="new_email" class="form-control" placeholder="New Email Address">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Change My Email</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
